.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0 40px 0;
    @media (max-width: $maxwidth2) {
        padding: 0;
        height: 80px;
        // justify-content: flex-end;
    }
    // .header__logo
    &__logo {
        display: flex;
        height: 100%;
        align-items: center;
        @media (max-width: $maxwidth2) {
            flex: 1;
        }
    }
    &__img {
        width: 118.79px;
        @media (max-width: $maxwidth3) {
            width: 74.67px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    // .header__menu
    &__menu {
        display: flex;
        & > li {
            &:not(:last-child) {
                margin: 0px 57px 0px 0px;
                @media (max-width: $maxwidth1) {
                    margin: 0px 40px 0px 0px;
                }
            }
        }
    }
    // .header__link
    &__link {
        font-family: "Cormorant";
        position: relative;
        font-size: 20px;
        color: $text-color-primary;
        &:after {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background-color: #ee766c;
            border-radius: 50%;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }
        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
        // .header__link--hl
        &--hl {
            color: $text-color-secondary;
        }
    }
    // .header__socials
    &__socials {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $maxwidth2) {
            margin: 0px 90px 0px 0px;
        }
        @media (max-width: $maxwidth3) {
            .m-icon--me {
                display: none;
            }
            .m-icon--search {
                display: none;
            }
        }
        & > * {
            &:not(:last-child) {
                margin: 0px 25px 0px 0px;
                @media (max-width: $maxwidth1) {
                    margin: 0px 15px 0px 0px;
                }
            }
        }
    }

    &__icon {
        position: relative;
        @media (min-width: $maxwidth3) {
            transition: 0.3s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        span {
            font-weight: bold;
            font-size: 12px;
            color: $white;
            text-align: center;
            line-height: 15px;

            position: absolute;
            top: -10px;
            right: -10px;
            width: 15px;
            height: 15px;
            background-color: #ee766c;
            border-radius: 50%;
        }
    }
}
